var settings = {
    "options": {
        "pauseTime": "3",
        "width": 700
    },
    "colors": {
        "iconBoxColor": "rgba(255, 255, 255, 1)",
        "textBoxColor": "rgba(0, 0, 0, 1)",
        "iconColor": "rgba(0, 0, 0, 1)",
        "fontColor": "rgba(255, 255, 255, 1)"
    },
    "fonts": {
        "primaryFont": "",
        "fontWeight": "400",
        "fontSize": "40",
        "textYOffset": 0
    },
    "streamlabs": {
        "fetchRate" : 20
    }
};
